// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-30-screen {
    min-height: 30vh;
}
.min-h-45-screen {
    min-height: 45vh;
}

input.is-invalid{
    --tw-shadow: 0 0 0 2px #ff7474;
    --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}